[Unit]
Description=aismixer service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/aismixer
ExecStart=/usr/bin/python3 -u /opt/aismixer/aismixer.py
Restart=always
SyslogIdentifier=aismixer
RuntimeDirectory=aismixer
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
