[Unit]
Description=NMEA UDPSEC proxy (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/nmea_sproxy
ExecStart=/usr/bin/python3 /opt/nmea_sproxy/nmea_sproxy.py --config /etc/nmea_sproxy/instances/%i.yaml --process-title nmea_sproxy@%i
Restart=always
RestartSec=5
SyslogIdentifier=nmea_sproxy@%i

[Install]
WantedBy=multi-user.target
